@import "./variable.styl"
.van-nav-bar .van-icon,.van-nav-bar__title{
  color: $color-common!important;
}
.van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after{
  border-width: 0 0 .03rem 0 !important;
} 

.van-tabs__wrap {
  
  height: 1.18rem !important;
}
.van-tab{
  font-size:$font-size-smaller !important;
}
.van-nav-bar__title{
  font-size:$font-size-smaller !important;
}
.van-field{
  font-size:$font-size-smaller-x !important;
 }
 .van-sticky{
  transform:translateZ(0);
 }
 .van-tabs__line{
   z-index:0 !important;
}
 html,body{
  position: absolute;
  top:0;
  left:0;
  width :100%;
  -webkit-overflow-scrolling: touch;
  z-index:1;
  -webkit-user-select:none;
  background-attachment: fixed;/* 确保滚动条滚动时，元素不闪动*/
}



