@import "./variable.styl"
.van-nav-bar .van-icon,.van-nav-bar__title{
  color: $color-common!important;
}
.van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after{
  border-width: 0 0 .03rem 0 !important;
} 
.van-slider__button {
  background: $color-common!important;
  width: 0.25rem !important;
  height: 0.25rem !important;
}
.van-tabs__wrap {
  height: 1.18rem !important;
}



