// 颜色定义规范
$color-common=#FD4979
$color-common-x=#23203f
$color-common-background=#fff
//字体定义规范
$font-size-small-title = .6rem
$font-size-small = .65rem
//背景图片
$baImage=url('./assets/images/bgImages/bg1.jpg');
//字体样式
$font-common='Roboto'



 
