// 颜色定义规范
$color-common=#FD4979
$color-common-x=#23203f
$color-common-background=#fff
$color-common-background2= #e3e3e3;
// 字体定义规范
$font-size-smaller-x = .3rem
$font-size-smaller = .4rem
$font-size-small-x = .45rem
$font-size-small = .55rem
$font-size-large-x = .6rem
$font-size-large = .65rem
// 背景图片
$baImage=url('./assets/images/bgImages/bg1.jpg');
// 字体样式
$font-common='Roboto'
$font-common-title='sans-serif'




 
